section#main-info {
    margin-bottom: -200px;
}


.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.hinge {
  animation-duration: 2s;
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }

  40% {

    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation-name: bounce;
}

@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse;
}

@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.shake {
  animation-name: shake;
}


.swing {
  transform-origin: top center;
  animation-name: swing;
}


.tada {
  animation-name: tada;
}



.wobble {
  animation-name: wobble;
}


.bounceIn {
  animation-name: bounceIn;
}


.bounceInDown {
  animation-name: bounceInDown;
}


.bounceInLeft {
  animation-name: bounceInLeft;
}



.bounceInRight {
  animation-name: bounceInRight;
}


.bounceInUp {
  animation-name: bounceInUp;
}


.bounceOut {
  animation-name: bounceOut;
}

.bounceOutDown {
  animation-name: bounceOutDown;
}

.bounceOutLeft {
  animation-name: bounceOutLeft;
}


.bounceOutRight {
  animation-name: bounceOutRight;
}


.bounceOutUp {
  animation-name: bounceOutUp;
}


.fadeIn {
  animation-name: fadeIn;
}

.fadeInDown {
  animation-name: fadeInDown;
}


.fadeInDownBig {
  animation-name: fadeInDownBig;
}


.fadeInLeft {
  animation-name: fadeInLeft;
}



.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}



.fadeInRight {
  animation-name: fadeInRight;
}


.fadeInRightBig {
  animation-name: fadeInRightBig;
}


.fadeInUp {
  animation-name: fadeInUp;
}



.fadeInUpBig {
  animation-name: fadeInUpBig;
}

.fadeOut {
  animation-name: fadeOut;
}



.fadeOutDown {
  animation-name: fadeOutDown;
}



.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}



.fadeOutLeft {
  animation-name: fadeOutLeft;
}


.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

 
.fadeOutRight {
  animation-name: fadeOutRight;
}



.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}


.fadeOutUp {
  animation-name: fadeOutUp;
}



.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

.animated.flip {
  animation-name: flip;
}


.flipInX {
  animation-name: flipInX;
}



.flipInY {
  animation-name: flipInY;
}


.flipOutX {
  animation-name: flipOutX;
}



.flipOutY {
  animation-name: flipOutY;
}


.lightSpeedIn {
  animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
}



.lightSpeedOut {
  animation-name: lightSpeedOut;
  animation-timing-function: ease-in;
}



.rotateIn {
  animation-name: rotateIn;
}



  100% {
    transform-origin: left bottom;
    transform: rotate(0);
    opacity: 1;
  }


.rotateInDownLeft {
  animation-name: rotateInDownLeft;
}


.rotateInDownRight {
  animation-name: rotateInDownRight;
}


.rotateInUpLeft {
  animation-name: rotateInUpLeft;
}



.rotateInUpRight {
  animation-name: rotateInUpRight;
}



.rotateOut {
  animation-name: rotateOut;
}



.rotateOutDownLeft {
  animation-name: rotateOutDownLeft;
}


.rotateOutDownRight {
  animation-name: rotateOutDownRight;
}

.rotateOutUpLeft {
  animation-name: rotateOutUpLeft;
}



.rotateOutUpRight {
  animation-name: rotateOutUpRight;
}

.slideInDown {
  animation-name: slideInDown;
}



.slideInLeft {
  animation-name: slideInLeft;
}



.slideInRight {
  animation-name: slideInRight;
}



.slideOutLeft {
  animation-name: slideOutLeft;
}



.slideOutRight {
  animation-name: slideOutRight;
}

.slideOutUp {
  animation-name: slideOutUp;
}



.hinge {
  animation-name: hinge;
}



.rollIn {
  animation-name: rollIn;
}

.rollOut {
  animation-name: rollOut;
}