
#background {
  height: 100%;
  width: 400%;
  position: absolute;
  left: 0;
  bottom: 0;
}


#background img {
  height: 100%;
  width: 25%;
  float: left;
}

/* styles used for character*/
#boy {
  background-image: url(../images/boy-sprite2.png);
  width: 100px;
  height: 190px;
  background-position: 0px 0px;
  position: absolute;
  bottom: 5%;
  left: 15%;
}

h1 {
  position: absolute;
  color:white;
}

#contact-box{
  position:absolute;
  padding:60px 60px;
  height:300px;
  top:5%;
  left:75%;
  bottom:5%;
  border:solid #33ccff 3px;
  background-color:white;
}

#contact-box-email, #contact-box-subject, #contact-box-message{
  font-color:#000000;
  display:block;
}
